.wrapper {
    background: url(../../../public/images/background_content.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inner {
    margin: 0 auto;
    width: 62%;
}

.intro {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    margin-bottom: 20px;
}

.official {
    display: flex;
    align-items: center;
    margin: 30px auto 30px;
}

.official span {
    color: #fff;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0 20px;
}

.provide-info .title {
    display: block;
    color: #313131;
    font-weight: 700;
    text-transform: capitalize;
}
