.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    margin: 0 auto;
    padding: 30px 0;
}

.title span {
    color: #fff;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0 20px;
}
