.wrapper {
    background: url(../../../public/images/background_content.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inner {
    width: 62%;
    margin: 0 auto;
    background-color: #1e1e1e;
}

.inner .description {
    color: #fff;
    text-align: justify;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: capitalize;
    padding: 0 20px;
}

.thumbnail {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}

.thumbnail img {
    width: 100%;
}
