.wrapper {
    width: 100%;
}

.inner {
    width: 62%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    background-color: #1e1e1e;
    padding: 30px;
}

.description {
    color: #fff;
    width: 60%;
}

.description p {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-transform: capitalize;
}

.info h2 {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.info ul li {
    padding: 10px 0;
    color: #a3a3a3;
}

.support li {
    padding: 10px 0;
    color: #a3a3a3;
}
